<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>SE Factory - Application Status Update</title>
  </head>
  <body style='display: flex; flex-direction: column'>
    <table
      cellspacing='0'
      border='0'
      cellpadding='0'
      width='100%'
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style='max-width: 670px; margin: 0 auto'
              width='100%'
              border='0'
              align='center'
              cellpadding='0'
              cellspacing='0'
            >
              <tbody>
                <tr>
                  <td style='text-align: right'>
                    <a href='#' title='logo' target='_blank'>
                      <img
                        src='https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400'
                        alt='SEF'
                        style='max-width: 85px; max-height: 85px'
                        height='85'
                        width='85'
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table
                      width='100%'
                      border='0'
                      align='left'
                      cellpadding='0'
                      cellspacing='0'
                      style='
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid rgb(40, 238, 167);
                      '
                    >
                      <tbody>
                        <tr>
                          <td style='padding: 36px'>
                            <h1
                              style='
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              '
                            >
                              Greetings from SE Factory,
                            </h1>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              Thank you for taking the time to go through our
                              demanding selection process. We understand and
                              appreciate your patience and interest in our
                              program.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              We would like to apologize for not being able to
                              accept your application for this round of SE
                              Factory. Regrettably, we only require 50 students
                              for each cohort, and we received a large volume of
                              applications and a vigorous selection process.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              Unfortunately, we can’t give you individual
                              feedback, but we sincerely hope this won’t stop
                              you from pursuing a career in Software Development
                              or learning how to code to fulfill your ambitions.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              As we mentioned several times before, every round
                              we receive hundreds of applications and have very
                              limited spots in our program. Having applied and
                              not been accepted in this round will in no way be
                              held against you if you choose to apply again for
                              future batches.
                            </p>
                            <p
                              style='
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                margin: 20px 0;
                              '
                            >
                              In fact, we highly encourage you to take
                              initiative and actively upgrade your skills during
                              this period and apply again for our future cycles.
                            </p>
                            <h2
                              style='
                                color: #fff;
                                font-size: 18px;
                                font-weight: bold;
                                margin-top: 32px;
                              '
                            >
                              To improve your chances in the future, ensure:
                            </h2>
                            <ul style='color: #a5a6a9; font-size: 16px'>
                              <li>
                                You are able to commit to the program schedule
                                (Monday to Friday, 10 AM - 7 PM)
                              </li>
                              <li>You have graduated from university</li>
                              <li>
                                You want to develop a career in software/web
                                development or a relevant field
                              </li>
                              <li>
                                You have refreshed your theoretical knowledge
                                and coding skills using our
                                <strong>eCourse</strong>
                                or
                                <strong>Foundations of Computer Science</strong>
                                course
                              </li>
                              <li>You have good English proficiency</li>
                              <li>You write clean and organized code</li>
                            </ul>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin-top: 24px;
                              '
                            >
                              We encourage you to continue learning and
                              improving your skills. You can apply to our
                              <strong>Foundations of Computer Science</strong>
                              course by visiting:
                              <a
                                href='https://www.sefactory.io/sign-up'
                                style='color: rgb(40, 238, 167)'
                              >https://www.sefactory.io/sign-up</a>. Stay
                              updated through our social media platforms
                              (LinkedIn and Instagram).
                            </p>
                            <h2
                              style='
                                color: #fff;
                                font-size: 18px;
                                font-weight: bold;
                                margin-top: 32px;
                              '
                            >
                              Additional Learning Resources:
                            </h2>
                            <ul style='color: #a5a6a9; font-size: 16px'>
                              <li>
                                <a
                                  href='https://www.edx.org/course/introduction-computer-science-harvardx-cs50x'
                                  style='color: rgb(40, 238, 167)'
                                >CS50 - Harvard's Intro to CS</a>
                              </li>
                              <li>
                                <a
                                  href='https://github.com/Developer-Y/cs-video-courses'
                                  style='color: rgb(40, 238, 167)'
                                >Computer Science Video Courses</a>
                              </li>
                              <li>
                                <a
                                  href='https://github.com/kamranahmedse/developer-roadmap'
                                  style='color: rgb(40, 238, 167)'
                                >Web Developer Roadmap</a>
                              </li>
                              <li>
                                <a
                                  href='https://github.com/open-source-society/computer-science'
                                  style='color: rgb(40, 238, 167)'
                                >Open Source Computer Science Course</a>
                              </li>
                            </ul>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                margin: 16px 0;
                              '
                            >
                              We wish you the best on your journey and look
                              forward to receiving your application again!
                            </p>
                            <p
                              style='
                                color: #fff;
                                font-size: 14px;
                                font-weight: bold;
                              '
                            >
                              <em>Code on!</em>
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>Kind regards, <br />SE Factory Team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>