<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>SE Factory - Application Update</title>
  </head>
  <body style='display: flex; flex-direction: column'>
    <table
      cellspacing='0'
      border='0'
      cellpadding='0'
      width='100%'
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style='max-width: 670px; margin: 0 auto'
              width='100%'
              border='0'
              align='center'
              cellpadding='0'
              cellspacing='0'
            >
              <tbody>
                <tr>
                  <td style='text-align: right'>
                    <a href='#' title='logo' target='_blank'>
                      <img
                        src='https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400'
                        alt='SEF'
                        style='max-width: 85px; max-height: 85px'
                        height='85'
                        width='85'
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table
                      width='100%'
                      border='0'
                      align='left'
                      cellpadding='0'
                      cellspacing='0'
                      style='
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid rgb(40, 238, 167);
                      '
                    >
                      <tbody>
                        <tr>
                          <td style='padding: 36px'>
                            <h1
                              style='
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              '
                            >
                              Greetings from SE Factory,
                            </h1>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              Thank you for taking the time to go through our
                              demanding selection process. We truly appreciate
                              your patience and interest in our program.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              Unfortunately, we regret to inform you that we are
                              unable to accept your application for this round
                              of SE Factory. To be eligible for the program,
                              applicants must meet the following criteria:
                            </p>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>Be above 18 years old.</li>
                              <li>Reside in Lebanon.</li>
                              <li>
                                Have less than two semesters left at university.
                              </li>
                            </ul>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              While your application was not successful this
                              time, we have included some tips below to help
                              your future application stand out and support you
                              in preparing for the technical evaluation. Please
                              take a moment to review them.
                            </p>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>
                                <strong>Introduction to Computer Science:</strong>
                                <a
                                  href='https://www.edx.org/course/introduction-computer-science-harvardx-cs50x'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Learn more
                                </a>
                              </li>
                              <li>
                                <strong>Computer Science Video Courses:</strong>
                                <a
                                  href='https://github.com/Developer-Y/cs-video-courses'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Learn more
                                </a>
                              </li>
                              <li>
                                <strong>Web Developer Roadmap 2017:</strong>
                                <a
                                  href='https://github.com/kamranahmedse/developer-roadmap'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Learn more
                                </a>
                              </li>
                              <li>
                                <strong>100+ Free Resources for Full Stack Web
                                  Development:</strong>
                                <a
                                  href='https://github.com/bmorelli25/Become-A-Full-Stack-Web-Developer'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Learn more
                                </a>
                              </li>
                              <li>
                                <strong>Open Source Computer Science Course:</strong>
                                <a
                                  href='https://github.com/open-source-society/computer-science'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Learn more
                                </a>
                              </li>
                              <li>
                                <strong>Coursera - Algorithms, Part I and II:</strong>
                                <a
                                  href='https://www.coursera.org/course/algs4partI'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Part I
                                </a>
                                ,
                                <a
                                  href='https://www.coursera.org/course/algs4partII'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Part II
                                </a>
                              </li>
                              <li>
                                <strong>Google Interview Study Plan:</strong>
                                <a
                                  href='https://github.com/jwasham/google-interview-university'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Learn more
                                </a>
                              </li>
                              <li>
                                <strong>The Odin Project:</strong>
                                <a
                                  href='http://www.theodinproject.com/courses'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >
                                  Learn more
                                </a>
                              </li>
                            </ul>
                            <p
                              style='
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                margin: 20px 0;
                              '
                            >
                              We wish you the best of luck on your journey, and
                              look forward to receiving your application again!
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                margin: 16px 0;
                              '
                            >
                              For inquiries, please contact us on our official
                              website.
                            </p>
                            <div style='border-top: 1px solid #e6e6e6'></div>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                margin: 16px 0;
                              '
                            >
                              Please note that this email is not monitored for
                              responses.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>Best regards,
                                <br />
                                SE Factory Team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style='height: 80px'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>