<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Stage 3 - Screening & Technical Review</title>
  </head>
  <body style='display: flex; flex-direction: column'>
    <table
      cellspacing='0'
      border='0'
      cellpadding='0'
      width='100%'
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style='max-width: 670px; margin: 0 auto'
              width='100%'
              border='0'
              align='center'
              cellpadding='0'
              cellspacing='0'
            >
              <tbody>
                <tr>
                  <td style='text-align: right'>
                    <a
                      href='https://sefactory.io'
                      title='logo'
                      target='_blank'
                    >
                      <img
                        src='https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400'
                        alt='SEF'
                        style='max-width: 85px; max-height: 85px'
                        height='85'
                        width='85'
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table
                      width='100%'
                      border='0'
                      align='left'
                      cellpadding='0'
                      cellspacing='0'
                      style='
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid rgb(40, 238, 167);
                      '
                    >
                      <tbody>
                        <tr>
                          <td>
                            <div
                              style='
                                overflow: auto;
                                margin-bottom: 0;
                                padding: 24px 24px 0 24px;
                              '
                            >
                              <div style='float: right'>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #fb4747;
                                    border-radius: 50%;
                                    display: inline-block;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #ffc635;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #28eea7;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style='padding: 0 36px 36px 36px'>
                            <h1
                              style='
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              '
                            >
                              <span
                                style='
                                  color: rgb(40, 238, 167);
                                  margin-right: 10px;
                                '
                              >
                                &gt;
                              </span>
                              Dear Applicant,
                            </h1>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              Welcome to Stage (3) – Screening & Technical Review.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 0;
                              '
                            >
                              You passed the exam, and now it's time to meet with the SEF team to review your technical skills and get to know you a little better. All we need from you is to go over what you've already studied for the exam and join us for a 20-minute call.
                            </p>
                            <h2
                              style='
                                color: #fff;
                                font-size: 18px;
                                margin-top: 20px;
                              '
                            >
                              To book your meeting, here's what you need to do:
                            </h2>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>
                                Pick a time for your session via this
                                <a
                                  href='{{interviewMeetLink}}'
                                  style='
                                    color: rgb(40, 238, 167);
                                    text-decoration: none;
                                  '
                                >LINK</a>
                                on Calendly.
                              </li>
                              <li>Choose any of the available slots/times on the right.</li>
                              <li>Make sure to write your full name correctly when booking the interview.</li>
                              <li>Add your email.</li>
                              <li>
                                <strong>VERY IMPORTANT:</strong> Make sure to invite Charbel and Sarah by adding
                                <em>charbeld@sefactory.io</em>, <em>sarah@sefactory.io</em> as guests.
                              </li>
                              <li>On the day of the meeting, <strong>join with Google Meet</strong>.</li>
                            </ul>
                            <h2
                              style='
                                color: #fff;
                                font-size: 18px;
                                margin-top: 20px;
                              '
                            >
                              Just a quick reminder to review the following topics before your upcoming FSE Bootcamp interview:
                            </h2>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>Big O Notation</li>
                              <li>Searching and Sorting Algorithms</li>
                              <li>Data Structures</li>
                              <li>Object-Oriented Programming (OOP)</li>
                              <li>General Web Development (HTML, CSS, JavaScript, PHP, MySQL)</li>
                            </ul>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              Make sure you feel comfortable answering questions in each of these areas.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              If all the slots are booked, kindly let us know, and we will open new availability for next week.
                            </p>
                            <br />
                            <p
                              style='
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                margin: 0;
                              '
                            >
                              Best of luck!
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>SEF Team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
