<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>SE Factory - Application Status Update</title>
  </head>
  <body style='display: flex; flex-direction: column'>
    <table
      cellspacing='0'
      border='0'
      cellpadding='0'
      width='100%'
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style='max-width: 670px; margin: 0 auto'
              width='100%'
              border='0'
              align='center'
              cellpadding='0'
              cellspacing='0'
            >
              <tbody>
                <tr>
                  <td style='text-align: right'>
                    <a href='#' title='logo' target='_blank'>
                      <img
                        src='https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400'
                        alt='SEF'
                        style='max-width: 85px; max-height: 85px'
                        height='85'
                        width='85'
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table
                      width='100%'
                      border='0'
                      align='left'
                      cellpadding='0'
                      cellspacing='0'
                      style='
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid rgb(40, 238, 167);
                      '
                    >
                      <tbody>
                        <tr>
                          <td style='padding: 36px'>
                            <h1
                              style='
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              '
                            >
                              Dear Applicant,
                            </h1>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              Thank you for your patience and understanding
                              throughout the application process.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              We want to inform you that based on the evaluation
                              of your application, you have been placed on the
                              waiting list for the current session. While you
                              did not make it into the top 50 applicants
                              initially, there is still a possibility of
                              securing a spot in the program.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              We are currently finalizing admissions and closely
                              monitoring any potential openings or changes in
                              the roster. Within the next 3 days, we will
                              provide you with a definitive update on your
                              status.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              We understand that this waiting period may be
                              challenging, but we assure you that your candidacy
                              is still under consideration. If there are any
                              further steps or requirements necessary, we will
                              provide clear instructions in our upcoming email.
                            </p>
                            <p
                              style='
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                margin: 20px 0;
                              '
                            >
                              Thank you for your continued interest in the FSW
                              program. We appreciate your understanding and look
                              forward to updating you on your status soon.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                margin: 16px 0;
                              '
                            >
                              For inquiries, please contact us on our official
                              website.
                            </p>
                            <div style='border-top: 1px solid #e6e6e6'></div>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                margin: 16px 0;
                              '
                            >
                              Please note that this email is not monitored for
                              responses.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>Best regards,
                                <br />
                                SE Factory Team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style='height: 80px'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>