<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FCS Bootcamp Section Form</title>
  </head>
  <body style="display: flex; flex-direction: column">
    <table
      cellspacing="0"
      border="0"
      cellpadding="0"
      width="100%"
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style="max-width: 670px; margin: 0 auto"
              width="100%"
              border="0"
              align="center"
              cellpadding="0"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td style="text-align: right">
                    <a href="#" title="logo" target="_blank">
                      <img
                        src="https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400"
                        alt="SEF"
                        style="max-width: 85px; max-height: 85px"
                        height="85"
                        width="85"
                      />
                    </a>
                  </td>
                </tr>
                <tr><td style="height: 20px">&nbsp;</td></tr>
                <tr>
                  <td>
                    <table
                      width="100%"
                      border="0"
                      align="left"
                      cellpadding="0"
                      cellspacing="0"
                      style="
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid #FEC636;
                      "
                    >
                      <tbody>
                        <tr>
                          <td>
                            <div
                              style="
                                overflow: auto;
                                margin-bottom: 0;
                                padding: 24px 24px 0 24px;
                              "
                            >
                              <div style="float: right">
                                <div
                                  style="
                                    width: 22px;
                                    height: 22px;
                                    background-color: #fb4747;
                                    border-radius: 50%;
                                    display: inline-block;
                                  "
                                ></div>
                                <div
                                  style="
                                    width: 22px;
                                    height: 22px;
                                    background-color: #ffc635;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  "
                                ></div>
                                <div
                                  style="
                                    width: 22px;
                                    height: 22px;
                                    background-color: #FEC636;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  "
                                ></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding: 0 36px 36px 36px">
                            <h1
                              style="
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              "
                            >
                              <span
                                style="
                                  color: #FEC636;
                                  margin-right: 10px;
                                "
                                >&gt;</span
                              >Dear Student,
                            </h1>

                            <p
                              style="
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              "
                            >
                              We are thrilled to have you join our <strong>FCS Bootcamp</strong>! As we finalize the logistics, we kindly ask that you complete the form below to indicate your preferred section.
                            </p>

                            <p
                              style="
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin-bottom: 16px;
                              "
                            >
                              Please note that each section can accommodate up to 50 students. If a section reaches full capacity, you will be assigned to a different one.
                            </p>

                            <p
                              style="
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                              "
                            >
                              The Bootcamp will kick off the week of <strong>{{bootcampStartDate}}</strong>, with an orientation day the week prior. Be sure to keep an eye on your inbox for additional information.
                            </p>

                            <p
                              style="
                                color: #FEC636;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              "
                            >
                              👉 <a href='{{classDivisionForm}}' target="_blank" style="color: #FEC636; text-decoration: none;">Class Division Form</a>  
                              <br />
                              <span style="color: #a5a6a9; font-size: 14px;">* Required for the next steps in the bootcamp *</span>
                            </p>

                            <p
                              style="
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                margin: 0;
                              "
                            >
                              Thank you, and we look forward to meeting you soon!
                            </p>

                            <p
                              style="
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              "
                            >
                              <em>Best regards,<br />SE Factory Team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr><td style="height: 20px">&nbsp;</td></tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
