<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body style='display: flex; flex-direction: column'>
    <table
      cellspacing='0'
      border='0'
      cellpadding='0'
      width='100%'
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style='max-width: 670px; margin: 0 auto'
              width='100%'
              border='0'
              align='center'
              cellpadding='0'
              cellspacing='0'
            >
              <tbody>
                <tr>
                  <td style='text-align: right'>
                    <a
                      href='https://u31757777.ct.sendgrid.net/ls/click?upn=xhtkvOztBnPQhToiAiQF9yyYxFXop86pTtazuPeH5-2F4dXxFjsp8mV4Vo-2BBkML3-2B-2BhUEP_-2BQPnmpDCOA2Ods-2FjYJZonLZl02XhgbdTJXpLvyV4p3BWcV-2BktyGwXT3LGgUB0pZ1Np9E20o7fmQbAwiJTM-2BSk93urD4hnbSDi3YR0qIVp8G7s5k2Ap60kvA8NB-2FoObX-2BCV-2BavgqPNmdo4VvDP3pHB4ppPXCGJnBKDKW-2FCOmtDugNeBvscFl2GDwWaUrWxspNcVaX37mCC0K6q1Es0ldzeA-3D-3D'
                      title='logo'
                      target='_blank'
                    >
                      <img
                        src='https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400'
                        alt='SEF'
                        style='max-width: 85px; max-height: 85px'
                        height='85'
                        width='85'
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table
                      width='100%'
                      border='0'
                      align='left'
                      cellpadding='0'
                      cellspacing='0'
                      style='
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid rgb(251, 80, 142);
                      '
                    >
                      <tbody>
                        <tr>
                          <td>
                            <div
                              style='
                                overflow: auto;
                                margin-bottom: 0;
                                padding: 24px 24px 0 24px;
                              '
                            >
                              <div style='float: right'>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #fb4747;
                                    border-radius: 50%;
                                    display: inline-block;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #ffc635;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #28eea7;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style='padding: 0 36px 36px 36px'>
                            <h1
                              style='
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              '
                            >
                              <span
                                style='
                                  color: rgb(251, 80, 142);
                                  margin-right: 10px;
                                '
                              >&gt;</span>
                              Greetings from SE Factory,
                            </h1>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              Thank you for taking the time to go through our demanding selection process, we understand and appreciate your patience and interest in our program. We would like to apologize for not being able to accept your application for this round of SE Factory since you did not pass the UIX entrance exam.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 0;
                              '
                            >
                              Unfortunately, we can't give you individual feedback, but we sincerely hope this won't stop you from pursuing a career in UIX or learning how to Design to fulfill your ambitions. Having applied and not been accepted in this round will in no way be held against you if you choose to apply again for future batches. In fact, we highly encourage you to take initiative and actively upgrade your skills during this period and apply again for our future cycles. On that note, and in order to consider your application for the UIX program in the future please make sure that you have tackled the below factors:
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              We wish you the best of luck on your journey, look forward to receiving your application again!
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>Kind regards,</em>
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>SEF Team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
