<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body style='display: flex; flex-direction: column'>
    <table
      cellspacing='0'
      border='0'
      cellpadding='0'
      width='100%'
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style='max-width: 670px; margin: 0 auto'
              width='100%'
              border='0'
              align='center'
              cellpadding='0'
              cellspacing='0'
            >
              <tbody>
                <tr>
                  <td style='text-align: right'>
                    <a
                      href='https://u31757777.ct.sendgrid.net/ls/click?upn=xhtkvOztBnPQhToiAiQF9yyYxFXop86pTtazuPeH5-2F4dXxFjsp8mV4Vo-2BBkML3-2B-2BhUEP_-2BQPnmpDCOA2Ods-2FjYJZonLZl02XhgbdTJXpLvyV4p3BWcV-2BktyGwXT3LGgUB0pZ1Np9E20o7fmQbAwiJTM-2BSk93urD4hnbSDi3YR0qIVp8G7s5k2Ap60kvA8NB-2FoObX-2BCV-2BavgqPNmdo4VvDP3pHB4ppPXCGJnBKDKW-2FCOmtDugNeBvscFl2GDwWaUrWxspNcVaX37mCC0K6q1Es0ldzeA-3D-3D'
                      title='logo'
                      target='_blank'
                    >
                      <img
                        src='https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400'
                        alt='SEF'
                        style='max-width: 85px; max-height: 85px'
                        height='85'
                        width='85'
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table
                      width='100%'
                      border='0'
                      align='left'
                      cellpadding='0'
                      cellspacing='0'
                      style='
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid rgb(251, 80, 142);
                      '
                    >
                      <tbody>
                        <tr>
                          <td>
                            <div
                              style='
                                overflow: auto;
                                margin-bottom: 0;
                                padding: 24px 24px 0 24px;
                              '
                            >
                              <div style='float: right'>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #fb4747;
                                    border-radius: 50%;
                                    display: inline-block;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #ffc635;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #28eea7;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style='padding: 0 36px 36px 36px'>
                            <h1
                              style='
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              '
                            >
                              <span
                                style='
                                  color: rgb(251, 80, 142);
                                  margin-right: 10px;
                                '
                              >&gt;</span>
                              Dear Applicant,
                            </h1>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              This is an email to inform you that you were
                              shortlisted for the next steps in the application
                              process for the UIX bootcamp.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 0;
                              '
                            >
                              Here are the stages you will need to follow to
                              make it into the Bootcamp:
                            </p>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>
                                Stage 1: Application Shortlisting (you are here
                                now!)
                              </li>
                              <li>Stage 2: Entrance Exam - Evaluation</li>
                              <li>
                                Stage 3: Interview - Screening / Technical &
                                Soft Skills Evaluation (Case Study presentation)
                              </li>
                              <li>Decisions out</li>
                            </ul>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                font-style: italic;
                              '
                            >
                              *Reminder, that this process is obligatory due to
                              the high number of applications we receive for
                              each cycle, as well as the very different profiles
                              that apply.
                            </p>
                            <h2
                              style='
                                color: #fff;
                                font-size: 18px;
                                margin-top: 20px;
                              '
                            >
                              So, welcome to Stage (2)! : Entrance Exam
                              (Evaluation)
                            </h2>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 0;
                              '
                            >
                              The exam:
                              {{examDate}}
                              / Link to meeting =>
                              <a
                                href='{{examLink}}'
                                style='
                                  color: rgb(251, 80, 142);
                                  text-decoration: none;
                                '
                              >{{examLink}}</a>
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0 0 0;
                              '
                            >
                              Areas to focus on for exam:
                            </p>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>Design principles</li>
                              <li>Design Process</li>
                              <li>Responsive Design</li>
                              <li>Illustrator</li>
                              <li>Figma</li>
                              <li>Colors</li>
                            </ul>
                            <p
                              style='
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                margin: 0;
                              '
                            >
                              Best of luck!
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>SEF Team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>