<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="display:flex; flex-direction:column">
  <table cellspacing="0" border="0" cellpadding="0" width="100%" style="font-family:'Open Sans',sans-serif;padding:20px">
    <tbody><tr>
       <td>
          <table style="max-width:670px;margin:0 auto" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tbody><tr>
                <td style="text-align:right">
                   <a href="https://u31757777.ct.sendgrid.net/ls/click?upn=xhtkvOztBnPQhToiAiQF9yyYxFXop86pTtazuPeH5-2F4dXxFjsp8mV4Vo-2BBkML3-2B-2BhUEP_-2BQPnmpDCOA2Ods-2FjYJZonLZl02XhgbdTJXpLvyV4p3BWcV-2BktyGwXT3LGgUB0pZ1Np9E20o7fmQbAwiJTM-2BSk93urD4hnbSDi3YR0qIVp8G7s5k2Ap60kvA8NB-2FoObX-2BCV-2BavgqPNmdo4VvDP3pHB4ppPXCGJnBKDKW-2FCOmtDugNeBvscFl2GDwWaUrWxspNcVaX37mCC0K6q1Es0ldzeA-3D-3D" title="logo" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://u31757777.ct.sendgrid.net/ls/click?upn%3DxhtkvOztBnPQhToiAiQF9yyYxFXop86pTtazuPeH5-2F4dXxFjsp8mV4Vo-2BBkML3-2B-2BhUEP_-2BQPnmpDCOA2Ods-2FjYJZonLZl02XhgbdTJXpLvyV4p3BWcV-2BktyGwXT3LGgUB0pZ1Np9E20o7fmQbAwiJTM-2BSk93urD4hnbSDi3YR0qIVp8G7s5k2Ap60kvA8NB-2FoObX-2BCV-2BavgqPNmdo4VvDP3pHB4ppPXCGJnBKDKW-2FCOmtDugNeBvscFl2GDwWaUrWxspNcVaX37mCC0K6q1Es0ldzeA-3D-3D&amp;source=gmail&amp;ust=1702549518850000&amp;usg=AOvVaw3jD_I_oKIPwSTh-GGyJmd9">
                      <img src="https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400" alt="SEF" style="max-width:85px;max-height:85px" height="85" width="85" crossorigin="" class="CToWUd" data-bit="iit">
                   </a>
                </td>
             </tr>
             <tr>
                <td style="height:20px">&nbsp;</td>
             </tr>
             <tr>
                <td>
                   <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" style="max-width:670px;background:#363738;border-radius:28px;text-align:left;border:8px solid rgb(40,238,167)">
                      <tbody><tr>
                         <td>
                            <div style="overflow:auto;margin-bottom:0;padding:24px 24px 0 24px">
                               <div style="float:right">
                                  <div style="width:22px;height:22px;background-color:#fb4747;border-radius:50%;display:inline-block">
                                  </div>
                                  <div style="width:22px;height:22px;background-color:#ffc635;border-radius:50%;display:inline-block;margin-left:5px">
                                  </div>
                                  <div style="width:22px;height:22px;background-color:#28eea7;border-radius:50%;display:inline-block;margin-left:5px">
                                  </div>
                               </div>
                            </div>
                         </td>
                      </tr>
                      <tr>
                         <td style="padding:0 36px 36px 36px">
                            <h1 style="color:#fff;font-weight:900;margin:0;font-size:24px"><span style="color:rgb(40,238,167);margin-right:10px">&gt;</span> Hello {{name}}</h1>
                            <p style="color:#a5a6a9;font-size:16px;line-height:24px;margin:24px 0">
                               -------------
                            </p>
                            <p style="color:#a5a6a9;font-size:14px;line-height:24px;margin:0">
                               //&nbsp; You have been invited to SE Factory Dashboard! To complete your account setup, please verify your email address by clicking the button below.
                            </p>
                            <br>
                            <p style="color:#a5a6a9;font-size:14px;line-height:24px;margin:0">
                               If you didn't create an account, please ignore this email.
                            </p>
                            <a href="{{link}}" style="background:rgb(40,238,167);text-decoration:none!important;font-weight:900;margin-top:35px;color:#363738;text-transform:uppercase;font-size:14px;padding:14px 24px;display:inline-block;border-radius:0px" target="_blank">Verify</a>
                         </td>
                      </tr>
                   </tbody></table>
                </td>
             </tr>
             <tr>
                <td style="text-align:center">
                   <p style="font-size:12px;color:#a5a6a9;line-height:18px;margin:24px 0">©
                      <strong><a href="http://www.sefactory.io" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.sefactory.io&amp;source=gmail&amp;ust=1702549518850000&amp;usg=AOvVaw0sujyPez-oez-gy_T1eTmc">www.sefactory.io</a></strong></p>
                </td>
             </tr>
          </tbody></table>
       </td>
    </tr>
 </tbody></table>
</div><img src="https://ci3.googleusercontent.com/meips/ADKq_Na8UtUIYegwD5GbHHIbKD-AZa8WQ_GhB3ahebFwNHJlMJ-BV7p7EFoz7Dzjzb8RCBY-N7F5sxpXIHIQy_yDb7nendxTcOmJbshyvEzQnX5-RUQ1o-_FsmHBUXiFxnDbOZi__FCC8NB-tYC_bg2oYp9JwnX5-9IMVdM5XvYn7HOdBnGwvECisR3CAOzxnocJBBZIfAD8WjUBKNGaJZZ6Xewy-m65b89HjQlHek608ewqpcx0H-o-AzO0m6Y8LNQ2srM3_tY9wphmO_oHsk9LTBYj8QZAlc1KzJNGWtLbe6SJ1tC7QBcTkqSaUjQ-WENt-f-hgJju37y8O0xtAKsHMsBVoo5pbF8Sq2uL0Dd4gFyTDPskG4evofcTY-gGTWmf47O-kKIWgevfH2krP-9PLftJ3DTMmz82tmeiPuUO=s0-d-e1-ft#https://u31757777.ct.sendgrid.net/wf/open?upn=J6io2wW2W4wlYEODCpXzoYCbEOqi-2BOoNYYlB8v5Tp4dTRJtKeM1U4XIcFfSjTudf5zWqJPxU7yeSBL6vOcwme6m4rR-2FNPVncwRnG8Mzt9strYGZ3QYzkhudc6FSm3jOVpGU0SU20VZGA07vVoJyvNHA-2BTJDAtRtbCto1FkMxIx3dWxk52h9WBP2HeGxFxn-2BAqaP3eHZRXYJdJB0u4-2B17WZ9VuR9uAoCvqfW0FuN1MM0-3D" alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd" data-bit="iit"></div></div><div class="yj6qo"></div><div class="adL">
</div></div></div>

</body>
</html>