<p>Dear applicant,</p>
<p>We are pleased to inform you that you have been selected for an interview.</p>
<p>Please join the interview using the following link:
  <a href='{{interviewMeetLink}}'>{{interviewMeetLink}}</a></p>
<p>Best regards,<br />SE Factory Team</p>