name: Deploy Application

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            echo "SSH connection established."

            # Check if the repository exists, clone if not, otherwise pull the latest changes
            if [ ! -d /home/ubuntu/sef-admin-panel-server ]; then
              echo "Cloning repository as it does not exist."
              git clone https://github.com/your-org/your-repo.git /home/ubuntu/sef-admin-panel-server;
            else
              echo "Repository exists, pulling the latest changes."
              cd /home/ubuntu/sef-admin-panel-server && git pull origin development;
            fi

            # Install dependencies
            echo "Installing dependencies..."
            cd /home/ubuntu/sef-admin-panel-server && npm install

            # Build the project
            echo "Building the project..."
            npm run build

            # Redeploy the project
            echo "Redeploying the application..."
            npm run redeploy:dev

            echo "Deployment complete."
