name: Deploy Application

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Change Git remote URL to SSH
        run: git remote set-url origin git@github.com:sefact0ry/sef-admin-panel-server.git

      - name: Check git status before pull
        run: git status

      - name: Pull latest changes from development branch
        run: git fetch origin development && git reset --hard origin/development

      - name: Check git status after pull
        run: git status

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build

      - name: Redeploy
        run: npm run redeploy:dev
        env:
          SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Set up tracking for development branch
        run: git branch --set-upstream-to=origin/development development

env:
  CI: true
