name: CI/CD Pipeline

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  # build-test:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2

  #     - name: Cache Docker layers
  #       uses: actions/cache@v3
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-build-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-build-

  #     - name: Install Make (cached)
  #       uses: actions/cache@v3
  #       with:
  #         path: /usr/bin/make
  #         key: ${{ runner.os }}-make
  #         run: sudo apt-get install make

  #     - name: Build using Makefile
  #       run: make rebuild

  #     - name: Run tests inside Docker container
  #       run: make test-clean

  # build-and-push:
  #   needs: build-test
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2

  #     - name: Cache Docker layers
  #       uses: actions/cache@v3
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-build-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-build-

  #     - name: Install Make (cached)
  #       uses: actions/cache@v3
  #       with:
  #         path: /usr/bin/make
  #         key: ${{ runner.os }}-make
  #         run: sudo apt-get install make

  #     - name: Set up AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v1
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: ${{ secrets.AWS_REGION }}

  #     - name: Log in to Amazon ECR
  #       uses: aws-actions/amazon-ecr-login@v1

  #     - name: Build and push Docker image using Makefile
  #       run: make build-and-push
  #       env:
  #         AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  #         AWS_REGION: ${{ secrets.AWS_REGION }}
  #         ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}

  deploy:
    # needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH for deployment
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

      - name: Deploy to EC2
        run: |
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > ec2_key.pem
          chmod 600 ec2_key.pem

          ssh -o StrictHostKeyChecking=no -i ec2_key.pem ubuntu@${{ secrets.EC2_IP }} << 'EOF'
           # Install AWS CLI
          sudo apt-get update
          sudo apt-get install -y awscli

          # Install Docker
          sudo apt-get update
          sudo apt-get install -y apt-transport-https ca-certificates curl software-properties-common
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
          sudo apt-get update
          sudo apt-get install -y docker-ce

          # Start Docker service
          sudo systemctl start docker
          sudo systemctl enable docker

          # Pull the latest Docker image from ECR
          $(aws ecr get-login --no-include-email --region ${{ secrets.AWS_REGION }})
          docker pull ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:latest

          # Stop the existing container if running
            docker stop admin-panel-dev-container
           

          # Remove the existing container if it exists
            docker rm admin-panel-dev-container
           

          # Run the Docker container using 'make run'
          make run

          EOF

          # Clean up the private key
          rm -f ec2_key.pem
